In [4]:
import pandas as pd

In [98]:
ds1 = pd.read_csv("train.csv")

In [99]:
ds1.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0

In [100]:
from sklearn.linear_model import LogisticRegression

In [101]:
k = ds1["Survived"]
ds1.drop("Survived",axis=1,inplace=True)

In [102]:
ds1.drop("Name",axis = 1 , inplace=True)

In [103]:
ds1.drop("Ticket",axis = 1,inplace=True)

In [104]:
ds1["Sex"][ds1.Sex == 'female']=1
ds1["Sex"][ds1.Sex == 'male']=0

/home/saurabh/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/saurabh/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [105]:
ds1.head()

   Pclass Sex   Age  SibSp  Parch    Fare Cabin Embarked
0       2   1  29.0      1      0  26.000   NaN        S
1       3   0   NaN      0      0   8.050   NaN        S
2       2   0  39.0      0      0  26.000   NaN        S
3       3   1  29.0      0      4  21.075   NaN        S
4       3   0  25.0      0      0   7.050   NaN        S

In [106]:
ds1.Age.fillna(ds1["Age"].mean(),inplace=True)

In [107]:
ds1.drop("Cabin",axis=1,inplace=True)

In [108]:
ds1.drop("Embarked",axis=1,inplace=True)

In [121]:
x = ds1.as_matrix()
y = k.as_matrix()
type(ds1)
type(k)

pandas.core.series.Series

In [114]:
clf = LogisticRegression()

In [122]:
clf.fit(x,k)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [7]:
df = pd.read_csv("test.csv")

In [138]:
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare
0,2,"Davies, Master. John Morgan Jr",male,8.0,1,1,C.A. 33112,36.7500
1,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292
2,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375
3,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",female,24.0,2,1,243847,27.0000
4,1,"McGough, Mr. James Robert",male,36.0,0,0,PC 17473,26.2875

In [144]:
df["Sex"][df.Sex == 'female']=1
df["Sex"][df.Sex == 'male']=0

/home/saurabh/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/saurabh/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [146]:
df.drop("Name",axis=1,inplace=True)

In [147]:
df.drop("Ticket",axis=1,inplace=True)

In [148]:
df.Age.fillna(df["Age"].mean(),inplace=True)

In [149]:
df.describe()

           Pclass         Age       SibSp       Parch        Fare
count  223.000000  223.000000  223.000000  223.000000  223.000000
mean     2.345291   29.694775    0.506726    0.304933   32.622551
std      0.850047   13.749153    1.169700    0.634108   61.062047
min      1.000000    0.420000    0.000000    0.000000    0.000000
25%      2.000000   22.000000    0.000000    0.000000    7.879200
50%      3.000000   29.694775    0.000000    0.000000   12.475000
75%      3.000000   35.000000    1.000000    0.000000   30.035400
max      3.000000   71.000000    8.000000    2.000000  512.329200

In [150]:
df.head()

   Pclass Sex        Age  SibSp  Parch     Fare
0       2   0   8.000000      1      1  36.7500
1       1   1  49.000000      0      0  25.9292
2       3   0  29.694775      0      0   7.7375
3       2   1  24.000000      2      1  27.0000
4       1   0  36.000000      0      0  26.2875

In [151]:
xtest = df.as_matrix()

In [153]:
clf.predict(xtest)

array([0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0])

In [183]:
ar = clf.predict(xtest)

In [187]:
ans = pd.DataFrame(ar)
type(ans)

pandas.core.frame.DataFrame

In [188]:
ans.to_csv("answer.csv")

In [154]:
clf.score(x,y)

0.79940119760479045

In [176]:
clf1 = LogisticRegression(multi_class="ovr",solver="sag",C=2)

In [177]:
clf1.fit(x,y)

/home/saurabh/anaconda3/lib/python3.5/site-packages/sklearn/linear_model/sag.py:326: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

LogisticRegression(C=2, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='sag', tol=0.0001,
          verbose=0, warm_start=False)

In [178]:
clf1.score(x,y)

0.67664670658682635

In [5]:
final = pd.read_csv("answer.csv")

In [6]:
final.shape

(223, 1)

In [8]:
df.shape

(223, 10)

In [9]:
final

     0
0    0
1    1
2    0
3    1
4    0
5    0
6    0
7    0
8    1
9    0
10   1
11   0
12   1
13   1
14   0
15   0
16   0
17   0
18   0
19   1
20   1
21   0
22   1
23   1
24   0
25   0
26   0
27   0
28   1
29   1
..  ..
193  0
194  0
195  1
196  1
197  1
198  1
199  1
200  0
201  0
202  0
203  0
204  0
205  0
206  0
207  0
208  1
209  1
210  0
211  1
212  0
213  0
214  1
215  1
216  0
217  0
218  0
219  0
220  1
221  0
222  0

[223 rows x 1 columns]